.JAVA {
  background-image: url("../../../assets/images/java.jpg");
  background-size: cover;
}

.SPRING {
  background-image: url("../../../assets/images/spring.png");
  background-size: cover;
}

.JAVASCRIPT {
  background-image: url("../../../assets/images/javascript.png");
  background-size: cover;
}

.mat-card-avatar {
  height: 60px;
  width: 60px;
}

.post {
  background-color: #0ecfb4;
  margin-left: 10px;
}

.createdAt {
  float: right;
  margin-right: 10px;
}

td {
  margin-right: 10px;
}

.solutions {
  width: 120px;
  height: 36px;
  background-color: #82B80D;
  padding: 10px 21px 10px 25px;
  color: white;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
}

.solution-number {
  padding: 10px;
  background-color: grey;
  margin-left: 5px;
}

.likepressed {
  box-shadow: 5px 5px 15px 0px rgba(14,130,207,0.9), -5px -5px 15px 0 rgba(14,130,207,0.9);
}

.dislikepressed {
  box-shadow: 5px 5px 15px 0px rgba(235, 40, 5,0.9), -5px -5px 15px 0 rgba(235, 40, 5,0.9);
}