<mat-card>
  <a [routerLink]="['/tasks', task.id]">
    <mat-card-header>
      <div mat-card-avatar [ngClass]="task.type"></div>
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-subtitle> {{ task.type }}</mat-card-subtitle>
      <mat-card-subtitle>Posted by: {{ task.username }} </mat-card-subtitle>
    </mat-card-header>
  </a>
  <hr />
  <mat-card-content>
    <p>
      {{ task.content }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <hr>
    <table>
      <tr>
        <td class="likers">
          <div [ngSwitch]="likers.length">
            <p *ngSwitchCase="0">{{ likers.length }} people likes this.</p>
            <p *ngSwitchCase="1">{{ likers[0].username }} likes this.</p>
            <p *ngSwitchCase="2">
              {{ likers[0].username }} and {{ likers[1].username }} like
              this.
            </p>
            <p *ngSwitchDefault>
              {{ likers[0].username }} and {{ likers[1].username }} and
              {{ likers.length - 2 }} more people like this.
            </p>
          </div>
        </td>
        <td class="dislikers">
          <div [ngSwitch]="dislikers.length">
            <p *ngSwitchCase="0">
              {{ dislikers.length }} people dislikes this.
            </p>
            <p *ngSwitchCase="1">
              {{ dislikers[0].username }} dislikes this.
            </p>
            <p *ngSwitchCase="2">
              {{ dislikers[0].username }} and
              {{ dislikers[1].username }} dislike this.
            </p>
            <p *ngSwitchDefault>
              {{ dislikers[0].username }} and
              {{ dislikers[1].username }} and
              {{ dislikers.length - 2 }} more people dislike this.
            </p>
          </div>
        </td>
      </tr>
    </table>
    <button mat-button class="like" (click)="checkRating('LIKE')">LIKE</button>
    <button mat-button class="dislike" (click)="checkRating('DISLIKE')">DISLIKE</button>
    <button mat-button class="post">POST A SOLUTION</button>
  </mat-card-actions>
  <mat-card-footer>
    <p>
      <a [routerLink]="['/tasks', task.id]">
      <span class="solutions">
      SOLUTIONS: <span class="solution-number">{{ task.solutions }}</span>
      </span>
      </a>
      <span class="createdAt">
        Created: {{ task.createdAt | date: "yyyy.MM.dd. HH:mm" }}
      </span>
    </p>
  </mat-card-footer>
</mat-card>